# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Database
*.sqlite
*.db

# IDE specific files
.vscode/
.idea/

# Environment variables
.env
